.topbarContainer {
  width: 100%;
  background-color: hsl(180, 3%, 7%);
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.topbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 5;
  height: fit-content;
}
.navbar-links {
  color: gold;
  z-index: 5;
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}
.topbarLeft {
  flex: 2;
  display: flex;
  flex-direction: row;
}
.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  border-radius: 20px;
  color: rgb(163, 153, 14);
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.topbarCenter {
  flex: 5;
}

.searchbar {
  width: 100%;
  height: 30px;
  background-color: white;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px;
  margin-left: 10px;
}

.searchInput {
  display: flex;
  flex-direction: column;
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.topbarIcons {
  display: flex;
  color: rgb(163, 153, 14);
}

.topbarIconItem {
  margin-right: 15px;
  position: relative;
  cursor: pointer;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: white;
  position: absolute;
  background-color: red;
  bottom: 0px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.separator-line {
  width: 100%;
  height: 1px;
  border-top: 1px solid wheat;
  background-color: white;
  box-shadow: 0px 0px 0px 1px white;
  position: sticky;
}

.topbar-bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: top 0.3s;
  background-color: hsl(180, 3%, 7%);
  color: white;
  z-index: 5;
  height: 30px;
  padding-left: 20px;
  gap: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar.hidden {
  display: none;
}
.topbar-bottom-text {
  cursor: pointer;
  padding: 4px 4px;
  transition: all ease-in-out 420ms;
  -webkit-transition: all ease-in-out 420ms;
  -moz-transition: all ease-in-out 420ms;
  -ms-transition: all ease-in-out 420ms;
  -o-transition: all ease-in-out 420ms;
}

.topbar-bottom-text:hover {
  color: black;
  border-radius: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.login-icon {
  width: 40px;
  height: 40px;
  color: gold;
}

.search-suggestions {
  display: flex;
  flex-direction: column;
  margin-top: -2px;
  background-color: white;
  border: 3px solid gold;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 648px;
  color: black;
}

.search-focus {
  position: absolute;
  top: 37px;
  left: 274px;
  height: fit-content;
  z-index: 999;
}

li {
  list-style-type: none;
  cursor: pointer;
}
.searchlist {
  width: fit-content;
  border-radius: 10px;
}
