.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #000000;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
.separate-product-image{
  width: 400px;
}

.separate-product-details{
  display: flex;
  flex-direction: row;
  gap:200px;
}

.separate-text-container{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding:0px 20px;
  justify-content:center;
}

.separate-rr-cont{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color:black;
}

.separate-ratings:hover{
  color:blue;
  cursor: pointer;
}
.separate-reviews:hover{
  color:blue;
  cursor: pointer;
}

.separate-highlights{
  font-size:24px;
}