.product-container {
    padding-block: 44px;
    padding-inline: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
    gap: 30px;
    padding-top: 60px;
  }
  
  .product-container > h1 {
    color: black;
  }
  
  .product-container .product-grid {
    display: flex;
    flex-direction:row;
    gap:100px;
  }
  
  @media (max-width: 900px) {
    .product-container {
      padding-inline: 20px;
      padding-top: 60px;
    }
  }
  