.featured-flex {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.featured-flex p {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.featured-product-box {
  max-width: 1200px;
  padding: 20px;
  opacity: 0.5;
  transition: all ease-in-out ;
  -webkit-transition: all ease-in-out ;
  -moz-transition: all ease-in-out ;
  -ms-transition: all ease-in-out ;
  -o-transition: all ease-in-out ;
}
.featured-product-box:hover {
  opacity: 1;
}

.featured-product-box img {
  width: 100%;
  transition: transform ease-in-out 0.35s;
}
.featured-flex button {
  cursor: pointer;
  width: 100%;
  height: 35px;
}

img {
  border-radius: 28px;
}

.featured-image-container > img:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.featured-image-container {
  background-color: black;
}
