.category-container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  gap:10px;
  flex-wrap: wrap;
  background-color: #edf2f5;
  height: fit-content;
}
.individual-product-container {
  display: flex;
  margin-left:30px;
  flex-direction: column;
  padding: 30px 0px;
  justify-content:space-between;
  align-items: center;
  border:1px solid #bbbbbb;
  background-color: #edf2f5;
  transition: box-shadow .3s;
}
.individual-product-container:hover{
  box-shadow: 0 0 100px rgba(33, 33, 33, 0.2); 
}
.individual-product-image {
  width: 200px;
  height: auto;
}
.individual-text-container {
  padding:0px 10px;
  color: rgb(3, 3, 95);
  text-align: center;
  margin-left: 0;
}
.individual-price {
  font-size: 40px;
  font-weight: bolder;
}
.individual-rating {
  padding-bottom: 30px;
}
.img-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.primary-btn {
  border-radius: 10px;
  font-size: 16px;
  width: 150px;
  background-color: orangered;
  border: none;
  height: 60px;
  color: white;
  transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
}

.primary-btn:hover {
  background-color: rgb(3, 3, 95);
}

.cart-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.icon-highlights {
  margin-right: 10px;
}

.categories-container {
  background-color: #edf2f5;
}

.individual-highlights {
  display: none;
  background-color: rgb(3, 3, 95);
  color: white;
  border-radius: 50px;
  height: fit-content;
  top: 0;
  z-index: 999;
  padding: 30px 30px;
}
.named-highlights {
  text-align: center;
}
.mapped-highlights {
  padding-left: 90px;
}
.img-container:hover > .individual-highlights {
  display: block;
  position: fixed;
  top: 5vh;
  transform: translateY(10vh);
  bottom: 1vh;
  left:25vh;
  right:25vh;
  height: 50vh;
  z-index: 999;
  -webkit-transform: translateY(10vh);
  -moz-transform: translateY(10vh);
  -ms-transform: translateY(10vh);
  -o-transform: translateY(10vh);
}
