.ind-pro-cont {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  gap:20px;
  padding-top:10vh;
  overflow: hidden;
}

.ind-image-specs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100vw;
}

.ind-img-cont {
  width: 35vw;
}
.ind-specs-content-cont {
  margin-top:3vh;
  width: fit-content;
  border:2px groove gold;
  padding-right:4vw;
  padding-left:4vw;
  padding-bottom: 2vw;
  height: fit-content;
}

.ind-pro-img{
    width:70%;
    padding-left: 10vw;
    height: auto;
}

.ind-rev-cont{
  height:100vh;
}

.separate-rr-cont{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color:grey;
  }
  
  .separate-ratings:hover{
    color:blue;
    cursor: pointer;
  }
  .separate-reviews:hover{
    color:blue;
    cursor: pointer;
  }
  
  .separate-highlights{
    font-size:24px;
  }
  
  .btn-rev-cont{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    padding-left:5vw;
  }

  .rating-text{
    color:white;
    background-color:gold;
    width:100px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    padding-top:16px;
    height:60px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}